# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio
.vs/

# VS Code
.vscode/

# Builds
out/
build/

# Training data
data/fashion_mnist_train_vectors.csv
data/fashion_mnist_train_labels.csv
data/fashion_mnist_test_vectors.csv
data/fashion_mnist_test_labels.csv

# Predictions by the model
test_predictions.csv
train_predictions.csv